---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {%- comment -%}
  Filter out posts whose `categories` include the `DRAFT` value so they
  don't appear in lists. We'll skip drafts inside the loop for widest
  compatibility with GitHub Pages' Liquid implementation.
  {%- endcomment -%}
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      {%- unless post.categories contains "DRAFT" -%}
      <li class="post-list-item">
        {%- if post.cover -%}
        <a class="post-image" href="{{ post.url | relative_url }}">
          {%- if post.cover_small -%}
            <img
              class="post-cover lazy"
              src="{{ post.cover_small | relative_url }}"
              data-src="{{ post.cover | relative_url }}"
              alt="{{ post.title | escape }}"
              loading="lazy">
          {%- else -%}
            <img
              class="post-cover lazy"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
              data-src="{{ post.cover | relative_url }}"
              alt="{{ post.title | escape }}"
              loading="lazy">
          {%- endif -%}
        </a>
        {%- endif -%}
        <div class="post-list-body">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
      {%- endunless -%}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
