---
layout: base
---
{%- unless page.categories contains "DRAFT" -%}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.cover -%}
    <div class="post-cover-wrap">
      {%- if page.cover_small -%}
      <img
        class="post-cover lazy"
        src="{{ page.cover_small | relative_url }}"
        data-src="{{ page.cover | relative_url }}"
        alt="{{ page.title | escape }}"
        loading="lazy">
      {%- else -%}
      <img
        class="post-cover lazy"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        data-src="{{ page.cover | relative_url }}"
        alt="{{ page.title | escape }}"
        loading="lazy">
      {%- endif -%}
    </div>
    {%- endif -%}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{%- else -%}
{%- comment -%}Post is a draft (front-matter `type: DRAFT`) — render nothing publicly.{% endcomment -%}
{%- endif -%}
